<mat-list-item>
  <!--fa-icon mat-list-icon [icon]="faFile" area-label="File icon"></fa-icon-->
  <h4 matLine routerLink="{{ '/shop/' + product.id }}" class="flex">
    {{ product.name }}
    <span class="flex-spacer"></span>
    <span> {{ product.usdPrice | currencyRate: currency }} </span>
  </h4>

  <mat-action-list>
    <mshop-order
      [product]="product"
      [cart]="cart"
      (productUpdate)="onProductUpdate($event)"
    ></mshop-order>
  </mat-action-list>
  <mat-action-list *ngIf="cart[product.id]">
    <button class="delete-button" mat-icon-button (click)="onProductUpdate(0)">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-action-list>
</mat-list-item>
