<ng-container *ngIf="waiting">
  <mshop-waiting></mshop-waiting>
</ng-container>

<mat-card class="shopping-card">
  <ng-container *ngIf="notFound; else found">
    <mat-card-header>
      <mat-card-title>Sorry product no found</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <a routerLink="/shop">Browse products</a>
    </mat-card-content>
  </ng-container>

  <ng-template #found>
    <ng-container *ngIf="cart && currency && (product$ | async) as product">
      <mat-card-header>
        <mat-card-title>{{ product.name }}</mat-card-title>
      </mat-card-header>
      <img
        mat-card-image
        src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <mshop-grand-total [currency]="currency"></mshop-grand-total>
        <div class="flex">
          <span class="flex-spacer"></span>
          <div>
            <span> {{ product.usdPrice | currencyRate: currency }} </span>
            <mshop-order
              [product]="product"
              [cart]="cart"
              (productUpdate)="onProductUpdate(product, $event)"
            ></mshop-order>
            <!--button
              mat-icon-button
              *ngIf="cart[product.id]"
              (click)="onProductUpdate(product, 0)"
            >
              <mat-icon>delete</mat-icon>
            </button-->
          </div>
        </div>

        <p>{{ description }}</p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button routerLink="/shop">BROWSE ALL PRODUCTS</a>
      </mat-card-actions>
    </ng-container>
  </ng-template>
</mat-card>
