<ng-container *ngIf="waiting">
  <mshop-waiting></mshop-waiting>
</ng-container>

<mat-card class="shopping-card">
  <mat-card-header>
    <mat-card-title>Products</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <ng-container *ngIf="(products$ | async) as products">
        <mat-nav-list>
          <mat-list-item
            *ngFor="let product of products"
            routerLink="{{ product.id }}"
          >
            {{ product.name }}
          </mat-list-item>
          <!--mat-list-item *ngFor="let product of productList">
            <h3 matLine routerLink="'/shop/' + product.id ">{{ product.name }}</h3>
            <p matLine>
              <span> {{ product.usdPrice | currency:'GBP'}} </span>
              <input type="number" min="0"/>
            </p>
          </mat-list-item-->
        </mat-nav-list>
      </ng-container>
    </mat-list>
  </mat-card-content>
</mat-card>
