<ng-container *ngIf="waiting">
  <mshop-waiting></mshop-waiting>
</ng-container>

<mat-card class="shopping-card">
  <mat-card-header>
    <mat-card-title>Products</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <ng-container *ngIf="(products$ | async) as products">
        <mat-nav-list>
          <mat-list-item *ngFor="let product of products">
            <h3 matLine routerLink="{{ product.id }}">{{ product.name }}</h3>
            <p matLine>
              <span> {{ product.usdPrice | currency: 'GBP' }} </span>
              <mshop-order
                [product]="product"
                [cart]="cart"
                (productUpdate)="onProductUpdate(product, $event)"
              ></mshop-order>
            </p>
          </mat-list-item>
        </mat-nav-list>
      </ng-container>
    </mat-list>
  </mat-card-content>
</mat-card>
