<div class="flex">
  <span class="flex-spacer"></span>
  <mat-chip-list aria-label="Number of discounts applied">
    <mat-chip
      *ngIf="(numberDiscounts$ | async) as numberDiscounts"
      color="primary"
      selected
      >{{ numberDiscounts }} discounts applied</mat-chip
    >
    <span
      [matBadge]="numberItems"
      [matBadgeHidden]="numberItems <= 0"
      matBadgeColor="accent"
      matBadgeOverlap="false"
      >Total: {{ total | currency: currency?.code }}</span
    >
  </mat-chip-list>
</div>
